:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }

* {
    box-sizing: border-box;
    background-color: var(--outer-space);
    color: var(--heliotrope);
  }
  
  body {
    font-family: Garamond, Times, serif
  }
  
  /* Style the header */
  .header {
    padding-left: 65px;
    padding-bottom: 100px;
    text-align: left;
    font-size: 25px;
  }
  #border-box {
    position: relative;
    background: var(--outer-space);
    display: flex;
    flex-wrap: wrap;
  }
  #page-title {
    border: 6px solid rgba(75, 118, 187, 0.642);
    position: absolute;
    flex-wrap: wrap;
  }
  
  .header-img {
    width: 100vw;
    height: 70vh;
    background-image: url(../images/twitr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100vh, cover;
    border-style: solid;
    border-color: var(--heliotrope) black;
   
  }

  div.headshot {
    width: 400px;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
    padding-top: 8%;
    display: flex;
    flex-wrap: wrap;
  }
  div.headshot img {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  div.container {
    text-align: center;
    padding: 0 px 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .header-img nav {
    text-align: right;
    position: flex;
    background-color: transparent;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 25px;
  }
  

  /* Container for flexboxes */
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .column {
    display: flex;
    flex-direction: column
  }
  /* Create three equal rows that sits next to each other */

  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }

  .card img {
    width: 100%;
    min-width: 400px;
  }
  
  /* Style the footer */
  .footer {
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }