body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 50px;
    background-image: url(../images/FB.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60vh;
}

#work img {
    margin-bottom: 10px;
}